<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Language Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>225D2F0B1CC7AD5C00AE2337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>225D2F1F1CC7AD5C00AE2337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>228181F41CEB265200E1AED2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>228560AD1D03079100BF7D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
